<nav>
     <ul class="nav-bar">
         <li><a href="./get">GET</a></li>
     </ul>
    <ul class="nav-bar">
        
        <label for="">Catégories</label>
        <select name="category" id="">
            <option value="">Cuisine</option>
            <option value="">Boucher</option>
            <option value="">Combat</option>
            <option value="">Décoration</option>
            <option value="">Défense</option>
        </select>
       
    </ul>
</nav>

