

        {{!-- POST --}}
        <div class="col-md-3">
            <h1>Ajout des catégories</h1>
            <div class="card">
                <div class="card-body">

                    <form method="POST" action="/category" >
                        <div class="form-group">
                            <label>catégorie</label>
                            <input class="form-control" type="text" name="title" >
                        </div>
                       
                        <button type="submit" class="btn btn-primary">Ajouter</button>
                    </form>

                </div>
            </div>
        </div>

       