<nav>
    <ul class="nav-bar">
        <li><a href="./get">GET</a></li>
        <li><a href="./post">POST</a></li>
        <li><a href="./put">PUT</a></li>
        <li><a href="./delete">DELETE</a></li>
    </ul>
</nav>


<div class="container">   
   <div class="col-md-12">
            <h1>Ajout document</h1>
            <div class="card">
                <div class="card-body">
                    <form method="POST" action="/{{_id}}?_method=PUT">
                        <div class="form-group">
                            <label>Title</label>
                            <input class="form-control" type="text" name="title" value="{{title}}">
                        </div>
                        <div class="form-group">
                            <label>Content</label>
                            <input class="form-control" type="text" name="content" value="{{content}}" >
                        </div>
                        <div class="form-group">
                            <label>cover</label>
                            <input class="form-control" type="text" name="price" value="{{cover}}" >
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>

                </div>
            </div>
    </div>
</div>