*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
    color: white;
    width: 800px;
    margin: auto;
}

nav li a{
    color: rgb(163, 163, 163);
}
/*page d acceuil
==============*/

.nav-bar{
    text-decoration: none;
    list-style: none;
    font-size: 30px;
    option{
        font-size: 15px;
    }
    select{
        font-size: 15px;
    }
}
.title{
    display: flex;
    justify-content: space-around;
    align-items: center;
    h1{
        text-align: center; 
        margin-top: 50px;
    }
    .new{
        border: none;
        border-radius: 10px;
        padding: 5px 10px;
        
    }
}


.list-group-item {
    text-align: left;
    background-color: rgba(128, 128, 128, 0.301);
    position: relative;
    display: flex;
    .objet{
        margin-left: 20px;
    }
    h3{
        color: grey;
    }
    p{
        color: rgba(128, 128, 128, 0.712);
    }
    button{
        position: absolute;
        top: 10px;
        right: 50px;
        border: none;
        border-radius: 10px;
        padding: 5px 10px;
        text-decoration: none;
        list-style: none;
    }
    .delete{
        position: absolute;
        bottom: 10px;
        right: 10px;
        border: none;
        border-radius: 10px;
        padding: 5px 10px;
        background-color: transparent;
        i{
        color: rgb(255, 0, 0);
        }
    }
    
}

/*delete
=============*/
.all-delete{
    width: 50px;
    margin: 5px;
    border: none;
    border-radius: 10px;
    color: red;
    background: transparent;
    font-size: 50px;
    position: absolute;
    right: 10px;
}

/*catégories
=============*/

.card-2{
    width: 200px;
    font-size: 15px;
    position: absolute;
    top: 200px;
    left: 80px;
    color: purple;
    h1{
        font-size: 20px;
    }
}


/*page post
===============*/
#post{
    h1{
        text-align: center;
        margin: 50px 0 ;
    }
}


/*page put
==============*/

#put{
    h1{
        text-align: center;
        margin: 50px 0 ;
    }
}