*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    list-style: none;
    font-size: 30px;
}

h1{
    text-align: center; 
    margin-top: 50px;
}
.list-group-item, button{
    text-align: center;
}